@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../scss/varuables.scss";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
.projects {
	border-top: 10px solid $primary;
	background-image: url("../../media/u2.png");
	background-size: cover;
	padding: 150px 0 200px 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	h2 {
		text-align: center;
		padding: 15px 40px;
		// background: linear-gradient(to top, #08a1dd2c, #08a1dda5);
		backdrop-filter: blur(10px);
		border-radius: 15px;
		display: inline-block;
		border: 2px solid rgba(255, 255, 255, 0.46);
	}
	.resourses {
		width: 100%;
		height: 300px;
		margin-top: 70px;
		position: relative;
		z-index: 3;
		.slide {
			transform: scale(0.8);
			transition: transform 300ms;
			opacity: 0.9;
			position: relative;
			overflow: hidden;
			img {
				width: 100%;
				height: 350px;
				object-fit: cover;
				margin: 0 auto;
				border-radius: 20px;
				filter: blur(1.5px);
			}
			.link {
				// padding: 2% 2% 4%;
				width: 70%;
				text-align: center;
				color: $light;
				position: absolute;
				bottom: -100%;
				left: 15%;
				font-size: 70px;
				transition: 0.6s;
				text-shadow: 2px 2px 7px #000;
				font-family: "Dancing Script", cursive;
				font-weight: 400;
				object-fit: contain;
				&:hover {
					transform: scale(1.07);
				}
			}
		}
		.active {
			transform: scale(1);
			opacity: 1;
			img {
				width: 100%;
				z-index: 123;
				object-fit: cover;
				filter: blur(0px);
			}
			.link {
				bottom: 0%;
				left: 15%;
			}
		}
		.arrow {
			position: absolute;
			cursor: pointer;
			z-index: 12;
			width: 10%;
			text-align: center;
			transition: 0.1ms;
			color: $light;
			border: 1px solid $light;
			border-radius: 5px;
			width: 40px;
			height: 40px;
			transform: rotate(45deg);
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				color: $light;
				background: $primary;
				transition: 0.1ms;
				border: 1px solid $primary;
			}
		}
		.next {
			right: -3%;
			top: 48%;
			svg {
				transform: rotate(-45deg);
			}
		}
		.prev {
			left: -3%;
			top: 48%;
			svg {
				transform: rotate(-45deg);
			}
		}
	}
	.logo1 {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 0;
		width: 30%;
	}
	.logo2 {
		position: absolute;
		top: -0.5%;
		right: 0;
		z-index: 0;
		transform: rotate(180deg);
		width: 30%;
		img {
			width: 100%;
		}
	}
}
